<nav>
  <a href="/home">Inicio</a>
  <a href="/login">Salir</a>
</nav>

<h1>PROGRESO DE CONVOCATORIAS ACTIVAS</h1>
<div class="FormularioConvocatoria">
  <label>Modalidad: </label>
<input type="text" >
<h1>  </h1>
</div>
<div class="FormularioConvocatoria">
  <label>Rol a desempeñar: </label>
<input type="text" >
<h1>  </h1>
<div class="BotonGenerar">
  <button  id="Generar" type="submit"  >BUSCAR</button>
</div>
<table>
  <thead>
     <tr>
        <th>Codigo</th>
        <th>Modalidad</th>
        <th>Rol a Desempeñar</th>
        <th>Cantidad de Vacantes</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Realizar Cambios</th>
        <th>Ver Convocados</th>
     </tr>
  </thead>
  <tbody>
   <tr>
    <th>002</th>
      <th>SEMIPRESENCIAL</th>
      <th>Gerente de Email Marketing</th>
      <th>164</th>
      <th>24/2/2020</th>
      <th>15/6/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>003</th>
      <th>VIRTUAL</th>
      <th>Gerente de Email Marketing</th>
      <th>288</th>
      <th>3/3/2019</th>
      <th>20/12/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>005</th>
      <th>VIRTUAL</th>
      <th>Marketing Manager</th>
      <th>192</th>
      <th>6/5/2019</th>
      <th>22/11/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>008</th>
      <th>PRESENCIAL</th>
      <th>Gerente de Email Marketing</th>
      <th>267</th>
      <th>6/2/2019</th>
      <th>20/8/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>009</th>
      <th>PRESENCIAL</th>
      <th>Especialista en SEO</th>
      <th>259</th>
      <th>22/5/2020</th>
      <th>1/11/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>010</th>
      <th>PRESENCIAL</th>
      <th>Especialista en SEO</th>
      <th>222</th>
      <th>16/2/2019</th>
      <th>19/8/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>013</th>
      <th>PRESENCIAL</th>
      <th>Social Media Manager</th>
      <th>239</th>
      <th>14/4/2019</th>
      <th>28/12/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>024</th>
      <th>PRESENCIAL</th>
      <th>Marketing Manager</th>
      <th>171</th>
      <th>14/4/2020</th>
      <th>9/10/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>026</th>
      <th>VIRTUAL</th>
      <th>Marketing Manager</th>
      <th>134</th>
      <th>19/5/2019</th>
      <th>8/11/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
   <tr>
    <th>028</th>
      <th>VIRTUAL</th>
      <th>Gerente de Email Marketing</th>
      <th>143</th>
      <th>16/5/2019</th>
      <th>11/6/2022</th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Realizar Cambios</button>
        </div>
      </th>
      <th>
        <div class="BotonGenerar">
          <button  id="Generar" type="submit"  >Ver Convocados</button>
        </div>
      </th>
   </tr>
  </tbody>
</table>
