@import url('https://css.gg/user.css');
@import url('https://css.gg/lock.css');
aside{
  display: flex;
  flex-wrap: wrap;
  flex-direction: 50%;
  width: 100%;
}
aside #Login{
  margin-left: 300px;
  margin-top: 50px;
  height: 300px;
  width: 500px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: #F1F1F1;
}
aside img{
  height: 700px;
  width: 1000px;
}
#Login h1{
 text-align: center;
}
#Login input[type="email"],
#Login input[type="password"]{
  width: 410px;
  height: 30px;
}
#Login  #BotonIngresar{
  text-align: center;
  padding: 5px;
}
#Login input[type="submit"]{
  padding: 5px;
  border-radius: 10px;
}
.Registro{
  display: flex;
  text-align: center;
  margin-left: 7px;
  margin-top: 30px;
}
.Registro img{
  height: 30px;
  width: 40px;
  margin-right: 5px;
  margin-top: 5px;
}
#TipoUsuario{
  margin-left: 30px;
}
#TipoUsuario input[type="radio"]{
  margin-left: 70px;
  margin-top: 10px;
}
#clearbox{
  float: none;
  clear: left;
}


.gg-user {
  display: block;
  transform: scale(var(--ggs,1));
  box-sizing: border-box;
  width: 12px;
  height: 18px
 }
 
 .gg-user::after,
 .gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid
 }
 
 .gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px
 }
 
 .gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px
 } 


