<p>Aquí encontrará los datos que debe llenar para crear su convocatoria</p>
<div id="CreacionConvocatoria">
  <h1>INGRESAR DATOS DE LA CONVOCATORIA</h1>
  <form>
    <div class="FormularioConvocatoria">
      <label>Fecha maxima de postulacion</label>
    <input type="date" >
    </div>
    <div class="FormularioConvocatoria">
      <label>Rol a desempeñar</label>
    <input type="text" >
    </div>
    <div class="FormularioConvocatoria">
      <label>Vacantes Dsiponibles</label>
    <input type="number" >
    </div>
    <div class="FormularioConvocatoria">
      <label>Modalidad de Seleccion</label>
    <input type="text">
    </div>
    <div class="FormularioConvocatoria">
      <label>Ubicacion de la Convocatoria</label>
    <input type="text" >
    </div>
    
    <div 
    class="FormularioConvocatoria">
    <aside>
      <label>Edad minima</label>
    <input type="number" >
    </aside>
    <aside>
      <label>Edad maxima</label>
    <input type="number" >
    </aside>
    <aside>
      <label>Remuneracion</label>
    <input type="number" >
    </aside>
    </div>

    <div class="FormularioConvocatoria">
      <label>Grado Academico</label>
    <input type="text" >
    </div>

    <div id="Certificacion">
      <p>Certificacion</p>
      <form>
        <input type="text" name="Nombre" placeholder="Nombre"/>
        <input type="Categoria" name="Nombre" placeholder="Categoria"/>
        <input type="Nivel" name="Nombre" placeholder="Nivel"/>
        <input type="number" name="MesesExp" placeholder="Meses de experiencia"/>
      </form>
    </div>
    <div id="clearbox"></div>
    <div class="FormularioConvocatoria">
  <input type="submit" value="GENERAR">
  </div>
  </form>
</div>
