<nav>
  <a href="/home">Inicio</a>
  <a href="/login">Salir</a>
</nav>
<p>creacion-convocatoria works!</p>

<h1>INGRESAR DATOS DE LA CONVOCATORIA</h1>
  <div id="CreacionConvocatoria">
    
    <form>
      <div class="FormularioConvocatoria">
        <label>Fecha maxima de postulacion</label>
      <input type="date" >
      </div>
      <div class="FormularioConvocatoria">
        <label>Rol a desempeñar</label>
      <input type="text" >
      </div>
      <div class="FormularioConvocatoria">
        <label>Vacantes Dsiponibles</label>
      <input type="number" >
      </div>
      <div class="FormularioConvocatoria">
        <label>Modalidad de Seleccion</label>
      <input type="text">
      </div>
      <div class="FormularioConvocatoria">
        <label>Ubicacion de la Convocatoria</label>
      <input type="text" >
      </div>
      
      <div 
      class="FormularioConvocatoria">
      <aside>
        <label>Edad minima</label>
      <input type="number" >
      </aside>
      <aside>
        <label>Edad maxima</label>
      <input type="number" >
      </aside>
      <aside>
        <label>Remuneracion</label>
      <input type="number" >
      </aside>
      </div>
  
      <div class="FormularioConvocatoria">
        <label>Grado Academico</label>
      <input type="text" >
      </div>
    </form>

    <div id="Certificacion">
      <p>Certificacion</p>
      <form>
        <p>
          <input type="text" name="Nombre" placeholder="Nombre"/>
          <input type="text" name="Categoria" placeholder="Categoria"/>
          <input type="text" name="Nivel" placeholder="Nivel"/>
          <input type="number" name="MesesExp" placeholder="Meses de experiencia"/>
        </p>
        <input id="Adicionar" type="submit" value="+">
      </form>
    </div>
    <div id="clearbox"></div>
    <div class="FormularioConvocatoria">
      <input id="Generar" type="submit" value="GENERAR">
      </div>
  </div>


