
<div id="Panel_superior">
  <img src="https://m.bestwaycorp.cl/FileUpload/ES/WhereToBuy/b0fa1c88-0177-4681-af50-e888a1c07b58/RIPLEY.jpg" >
  <h1>{{Titulo}}</h1>
</div>
<div id="clearbox"></div>

  <ul>
    <a href="/home"><li>Inicio</li></a>
    <a href="/login"><li>Salir</li></a>
  </ul>
<footer>
  <aside href="https://imgbb.com/">
    <img id="IMRipley" src="https://i.ibb.co/XzbXMZn/Captura-de-pantalla-2022-02-02-190634.png" alt="Captura-de-pantalla-2022-02-02-190634" border="0"  />
    <img id="IMRipley" src="https://i.ibb.co/XzbXMZn/Captura-de-pantalla-2022-02-02-190634.png" alt="Captura-de-pantalla-2022-02-02-190634" border="0"  />
    <img id="IMRipley" src="https://i.ibb.co/XzbXMZn/Captura-de-pantalla-2022-02-02-190634.png" alt="Captura-de-pantalla-2022-02-02-190634" border="0"  />
    <img id="IMRipley" src="https://i.ibb.co/XzbXMZn/Captura-de-pantalla-2022-02-02-190634.png" alt="Captura-de-pantalla-2022-02-02-190634" border="0"  />
  </aside>
 
</footer>

<router-outlet></router-outlet>
