<nav>
  <a href="/home">Inicio</a>
  <a href="/login">Salir</a>
</nav>
<aside>
  <div class="opciones">
    <h1>GENERAR CONVOCATORIA</h1>
    <p>Descripcion sobre el servicio</p>
    <aside href="https://ibb.co/q1vWdgM"><img src="https://i.ibb.co/s3Z621v/Crear.png" alt="Crear" border="0" /></aside>
    <button (click)="creacionConvocatoria()">CREAR CONVOCATORIA</button>
  </div>
  <div class="opciones">
    <h1>PROGRESO DE CONVOCATORIA</h1>
    <p>Descripcion sobre el servicio</p>
    <aside href="https://ibb.co/wKPwC5W"><img src="https://i.ibb.co/8jfd215/Monitorear.png" alt="Monitorear" border="0" /></aside>
    <button (click)="verConvocatoria()">VER CONVOCATORIAS</button>
  </div>
  <div class="opciones">
    <h1>ENVIAR MENSAJE</h1>
    <p>Descripcion sobre el servicio</p>
    <aside href="https://ibb.co/jhjw2fH"><img src="https://i.ibb.co/VVkCZ93/Envio-1.png" alt="Envio-1" border="0" /></aside>
    <button (click)="formularioMensaje()">INGRESAR AL FORMULARIO</button>
  </div>
</aside>
