aside{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: baseline;
  
}
nav{
  display: flex;
  border-bottom: 1px solid black;
  align-content: flex-end;
  text-decoration: none;
}
nav a{
  padding: 5px;
  text-decoration: none;
}
aside div{
  margin-top: 50px;
  margin-left: 230px;
  height: 500px;
  width: 350px;
  border: 1px solid black;
  border-radius: 15px;
  text-align: center;
}