<p>Ingresar una opcion</p>
<aside>
  <div class="opciones">
    <h1>GENERAR CONVOCATORIA</h1>
    <p>Descripcion sobre el servicio</p>
    <button (click)="creacionConvocatoria()">CREAR CONVOCATORIA</button>
  </div>
  <div class="opciones">
    <h1>PROGRESO DE CONVOCATORIA</h1>
    <p>Descripcion sobre el servicio</p>
    <button (click)="verConvocatoria()">VER CONVOCATORIAS</button>
  </div>
  <div class="opciones">
    <h1>ENVIAR MENSAJE</h1>
    <p>Descripcion sobre el servicio</p>
    <button (click)="formularioMensaje()">INGRESAR AL FORMULARIO</button>
  </div>
</aside>
